.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.panel {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.dataPanel {
    position: absolute;
    text-align: center;
    width: 200px;
    top: 10px;
    left: 10px;
    color: #3498DB;
    padding: 5px;
    max-height: 400px;
    overflow: scroll;
}

.controlPanel {
    position: absolute;
    width: 64px;
    max-width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 10px;
    background-color: #ECF0F1;
}

.dragCoordinateDisplay {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 50%;
    top: 10px;
    background-color: var(--primary-color);
    padding: 5px;
    transform: translateX(50%);
}

.addForm {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    height: 125px;
}

.formSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.panelHeading {
    margin: 5px 0px;
}

.panelCard {
    border-top: var(--light-gray) 1px solid;
}
.locationWeather {
font-size:rem.5
}

.locationPosition {
    font-size: .75rem;
}

.temperatureMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}