.mapContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.dataPanel{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 5px;
    color: aliceblue;
    background-color: #ddd;
    z-index: 2;
}